<div class="bg-white mx-auto mb-16 shrink max-w-lg border p-5 rounded-xl shadow-md">
  <h2 class="text-xl font-medium text-gray-700">Edit <%= resource_name.to_s.humanize %></h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field">
      <%= f.label :email, class:"block text-md mt-3 text-gray-700" %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "shadow-sm mt-1 p-2 border w-full rounded" %>
    </div>

    <div class="field">
      <%= f.label :time_zone, class:"block text-md mt-3 text-gray-700" %>
      <%= f.select :time_zone, time_zone_options_for_select(f.object.time_zone, nil, ActiveSupport::TimeZone), {}, {class: "shadow-sm mt-1 p-2 border w-full rounded"} %>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="field">
      <%= f.label :password, class: "inline-block text-md mt-3 text-gray-700" %> <span class="text-sm text-gray-700">(leave blank if you don't want to change it)</span>
      <%= f.password_field :password, autocomplete: "new-password", class: "shadow-sm mt-1 p-2 border w-full rounded" %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation, class: "inline-block text-md mt-3 text-gray-700" %>
      <% if @minimum_password_length %>
        <span class="text-sm text-gray-700">(<%= @minimum_password_length %> characters minimum)</span>
      <% end %>
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "shadow-sm mt-1 p-2 border w-full rounded" %>
    </div>

    <div class="field">
      <%= f.label :current_password, class: "inline-block text-md mt-3 text-gray-700" %> <span class="text-sm text-gray-700">(current password required to confirm changes)</span>
      <%= f.password_field :current_password, autocomplete: "current-password", class: "shadow-sm mt-1 p-2 border w-full rounded" %>
    </div>

    <div class="actions my-6">
      <%= f.submit "Update", class: "cursor-pointer inline-flex px-5 py-2 rounded-xl bg-blue-500 text-white shadow-md hover:bg-blue-600" %>
    </div>
  <% end %>

  <h2 class="text-xl font-medium text-gray-700">Cancel my account</h2>
  <div class="my-6">
    <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: , class: "inline-fle px-5 py-3 rounded-xl bg-white text-red-600 border-2 border-red-600 hover:bg-red-600 hover:text-white font-medium" %>
  <div>

  <%#= link_to "Back", :back %>
</div>
