<div class="mx-auto mt-24 shrink max-w-lg border space-y-5 p-5 rounded-xl shadow-md">
  <h1 class="font-extrabold text-2xl text-gray-900">NP Twit App</h1>
  <h2 class="text-xl font-medium text-gray-700">Sign up</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field">
      <%= f.label :email, class: "block text-md mt-3 text-gray-700" %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "shadow-sm mt-1 p-2 border w-full rounded" %>
    </div>

    <div class="field">
      <%= f.label :password, class: "inline-block text-md mt-3 text-gray-700" %>
      <% if @minimum_password_length %>
      <span class="text-sm text-gray-700">(<%= @minimum_password_length %> characters minimum)</span>
      <% end %>
      <%= f.password_field :password, autocomplete: "new-password", class: "shadow-sm mt-1 p-2 border w-full rounded" %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation, class: "block text-md mt-3 text-gray-700" %>
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "shadow-sm mt-1 p-2 border w-full rounded" %>
    </div>

    <div class="actions mt-6">
      <%= f.submit "Sign up", class: "cursor-pointer inline-flex px-5 py-2 rounded-xl bg-blue-500 text-white shadow-md hover:bg-blue-600" %>
    </div>
  <% end %>

  <div class="mt-5 text-blue-500 text-md">
    <%= render "devise/shared/links" %>
  </div>
</div>
