<div class="flex bg-white items-center shadow-sm max-w-sm border rounded-xl p-6 justify-between">
    <%= tweet.body %>
    <br>
    <div class="shrink-0 flex items-center space-x-2">
        <%= image_tag tweet.twitter_account.image, class: "rounded-full" %>
        <%= link_to "@#{tweet.twitter_account.username}", "https://twitter.com/#{tweet.twitter_account.username}", target: :_blank, class: "text-blue-500 font-semibold hover:text-blue-600"  %>

        <% if tweet.published? %>
            <%= link_to "View Tweet", "https://twitter.com/#{tweet.twitter_account.username}/status/#{tweet.tweet_id}", target: :_blank, class: "" %>
        <% else %>
            Scheduled for <%= l tweet.publish_at, format: :short %>
            <%= link_to "Edit Tweet", edit_tweet_path(tweet), class:"" %>
            <%= link_to "Destroy Tweet", tweet, method: :destroy, data: { confirm: "Are you sure?" }, class: ""%>
        <% end %>
    </div>
</div>